body{
    background-image:url("pics/leaf.jpg");
    font-family:'Oswald', sans-serif;
    color:black;
}

a{
    color: #C76A6A; 
}

form{
    margin-bottom: 10px; 
}

.input{
    margin: 2px;
    width: 35%;  
    border: 1px solid #B4B2B6; 
}

button{
    border: 1px solid #D0CDCE;
    background: #D0CDCE;
}
    
.todolist{
    background-color:white;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px;
    color:black;
}

.doneTasks{
    background-color:white;
    margin: 20px auto;
    max-width: 300px;
    padding: 15px;
    color:black;
}

th{
    text-align: left; 
    padding-right: 25px; 
    font-size: 0.8rem; 
}

.task{
    font-size: 0.8rem; 
}

.thAction{
    width: 10%; 
}

.action{
    display: inline-flex; 
    margin-right: 10px; 
    margin-top: 15px; 
}

.delete{
    width: 10%; 
}

.message{
    font-style: oblique; 
    text-align: center; 
    color: white; 
    background-color: #FF7A7F; 
}

@media screen and (min-width: 800px) { 

    body{
       text-align: center; 
    }

    .todowrapper{
        display: inline-flex; 
        text-align: left; 
    }

    .todolist{
        margin: 20px;
    }

    .doneTasks{
        margin: 20px;
    }

}